* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 html {
      scroll-behavior: smooth; /* ✅ حركة سلسة عند الانتقال */
    }

    body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      position: fixed;
      width: 100%;
      top: 0;
      background-color: #222;
      z-index: 1000;
      text-align: center;
      padding: 15px 0;
    }

    nav a {
      color: white;
      margin: 0 20px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #ffd700;
    }

    section {
      height: 100vh; /* ✅ كل قسم بارتفاع الشاشة */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 50px 20px
    }

    #home {
       background: linear-gradient(135deg, #d3d3d3, #f0f0f0); 
         background-repeat: repeat;
     
    }
    #about {
      background: linear-gradient(135deg, #8e44ad, #c0392b);
    }

    #contact {
      background: linear-gradient(135deg, #2ecc71, #27ae60);
    }

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
    }

    p {
      font-size: 20px;
      max-width: 600px;
      text-align: center;
    }