* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
 html {
      scroll-behavior: smooth; 
}
body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
  position: relative;
}

section {
      height: 100vh; 
}
@media (max-width: 481px) {
}






 .animated-text {
    position: relative;
    height: 3rem; 
    overflow: hidden;
  }
  .animated-text h3 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    color: #00e5ff;
  }
  .animated-text h3.active {
    opacity: 1;
    transform: translateY(0);
  }




@media (min-width: 481px) {
}
@media (min-width: 769px) {
}
@media (min-width: 1025px) {}
/*#00e5ff*/